extends ../layouts/default

block main
  h1.page-header= name

block content
  - var action = '/reports'
  - action += report.isNew? '' : '/'+report.id

  form.form-horizontal(method="post",action=action,role="form")
    input(type="hidden", name="_csrf", value="#{csrf_token}")

    - if (!report.isNew)
      input(type="hidden", name="_method", value="PUT")

    .row
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text1") 鸡群
          .col-sm-9
            input.form-control#text1(type="text",name="text1",value="report.text1",placeholder="鸡群数")
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text4") 采样日期
          .col-sm-9
            input.form-control#text4(type="text",name="text4",value="report.text4",placeholder="采样日期")
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text7") 数量/栋
          .col-sm-9
            input.form-control#text7(type="text",name="text7",value="report.text7",placeholder="数量/栋")
    .row
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text2") 栋数
          .col-sm-9
            input.form-control#text2(type="text",name="text2",value="report.text2",placeholder="栋数")
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text5") 送检日期
          .col-sm-9
            input.form-control#text5(type="text",name="text5",value="report.text5",placeholder="送检日期")
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text8") 报告样式
          .col-sm-9
            label.checkbox-inline
              input(type="radio", name="text8", value="report.text8", checked=gender=="male")
              | 栋
            label.checkbox-inline
              input(type="radio", name="text8", value="report.text8", checked=gender=="male")
              | 项目
    .row
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text3") 周龄
          .col-sm-9
            input.form-control#text3(type="text",name="text3",value="report.text3",placeholder="周龄")
      .form-group.col-md-4
        .row
          label.col-sm-3.control-label(for="text6") 检测日期
          .col-sm-9
            input.form-control#text6(type="text",name="text6",value="report.text6",placeholder="检测日期")
    .row
      .form-group
        label.col-sm-2.control-label 检测项目
        .col-sm-8
          label.checkbox-inline
            input#inlineCheckbox1( type="checkbox",name="text9",value="option1")
            | ND
          label.checkbox-inline
            input#inlineCheckbox2( type="checkbox",name="text9",value="option1")
            | RE-6
          label.checkbox-inline
            input#inlineCheckbox3( type="checkbox",name="text9",value="option1")
            | V6
          label.checkbox-inline
            input#inlineCheckbox4( type="checkbox",name="text9",value="option1")
            | RE-7
          label.checkbox-inline
            input#inlineCheckbox1( type="checkbox",name="text9",value="option1")
            | V7
          label.checkbox-inline
            input#inlineCheckbox2( type="checkbox",name="text9",value="option1")
            | RE-8
          label.checkbox-inline
            input#inlineCheckbox3( type="checkbox",name="text9",value="option1")
            | H9
          label.checkbox-inline
            input#inlineCheckbox4( type="checkbox",name="text9",value="option1")
            | EDS
    .row
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-lg.btn-primary(type='submit') 确定
          | &nbsp;
          button.btn.btn-lg.btn-primary(type='submit') 重置
          | &nbsp;
          a.btn.btn-lg.btn-primary(role="button",href='/report', title="cancel") 取消
